h1{
	color: blue;
}
 #rentree
{
  color:  orange;
  border:0,5px solid red;
  width:flit-content;
}   
#conteneur
{
	display: flex 
}
.body
{
	display: flex
}
.bouton
{
	font-size: 20px;
	color: blue;
	border-radius: 20px / 10px
}

  body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
    background-color: #d8da3d }

	.sconteneur{
	width: 50%

